{% extends "private_info/main-base.html" %}
{% load static %}
{% block main-content %}
    <div class="row g-3 align-items-center">
        <div class="col-auto">
{#            <form action="{{ ext_info.add_url }}" method="post">#}
            <form action="{% url 'private_info:vn-data-delete' ext_info.data_type ext_info.data_id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="确定删除" class="btn btn-outline-secondary">
                <a class="btn btn-outline-secondary input-sm"
                           href="{% url 'private_info:vn-data' ext_info.data_type %}">取消删除</a>
            </form>
        </div>
    </div>
{% endblock %}
